<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/minh/Desktop/SeleniumFrameworkDesign/TrialInterview/src/test/java/VuongDang/tests">
        <classes>
            <class name="VuongDang.tests.ErrorValidationsTest">
                <methods>
                    <include name="ProductErrorValidation"/>
                </methods>
            </class>
            <class name="VuongDang.tests.StandAloneTest"></class>
            <class name="VuongDang.tests.SubmitOrderTest"></class>
        </classes>
    </test>
</suite>